*{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root{
    --background-color: #181818;
    --foreground-color: #282828;
    --shadow-color: rgba(0,0,0,0.1);
    --dot-color: #6e6e6e;
    --text-color: #ffffff;
    --text-color-hover: #e1e1e1;
    --text-color-disabled: #a9a8a8;
    --shadow-color: rgba(0,0,0,1);
    --box-shadow-color: rgba(0,0,0,0.2);

    --border-color: var(--background-color);
    --border-size: 100px;
}

body, html, #app{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

}

.icon{
    color: var(--text-color);
    font-size: 2rem;
}

body {
    background: var(--background-color);
    background-image: radial-gradient(var(--dot-color) 2px, transparent 0);
    background-size: 40px 40px;
    background-position: 10px 10px;

    /* outline: var(--background-color) solid 50px;
    outline-offset: -50px; */

    overflow: hidden;
}

h1, h2, h3, p {
    color: var(--text-color);
}